In [1]:
"""
Get quotesdf
 
@author: Dazhuang
"""


import requests
import re
import json
import pandas as pd
 
def retrieve_quotes_historical(stock_code):
    quotes = []
    url = 'http://finance.yahoo.com/quote/%s/history?p=%s' % (stock_code, stock_code)
    try:
        r = requests.get(url)
    except ConnectionError as err:
        print(err)
    m = re.findall('"HistoricalPriceStore":{"prices":(.*?),"isPending"', r.text)
    if m:
        quotes = json.loads(m[0])       # m = ['[{...},{...},...]'] 
        quotes = quotes[::-1]         # 原先数据为date最新的在最前面
    return  [item for item in quotes if not 'type' in item]
 
quotes = retrieve_quotes_historical('AXP')
quotesdf = pd.DataFrame(quotes)
# quotesdf = quotesdf_ori.drop(['adjclose'], axis = 1)  可用本语句删除adjclose列
print(quotesdf)

       adjclose       close        date        high         low        open  \
0     92.404549   93.750000  1510237800   94.660004   93.279999   94.339996
1     92.177841   93.519997  1510324200   94.150002   93.389999   93.790001
2     92.552391   93.900002  1510583400   93.980003   92.779999   93.000000
3     92.414406   93.760002  1510669800   93.790001   92.940002   93.570000
4     91.921577   93.260002  1510756200   93.790001   92.800003   93.269997
5     92.217262   93.559998  1510842600   94.040001   93.300003   93.550003
6     92.345406   93.690002  1510929000   93.760002   92.919998   93.309998
7     92.601669   93.949997  1511188200   94.339996   93.680000   93.919998
8     93.055077   94.410004  1511274600   94.650002   94.120003   94.419998
9     92.473534   93.820000  1511361000   94.709999   93.480003   94.389999
10    92.138428   93.480003  1511533800   94.120003   93.470001   93.970001
11    92.128563   93.470001  1511793000   94.000000   93.360001   93.570000
12    93.912582   95.279999  1511879400   95.279999   93.580002   93.760002
13    95.213646   96.599998  1511965800   97.320000   95.599998   95.959999
14    96.307701   97.709999  1512052200   98.489998   96.809998   97.019997
15    96.455559   97.860001  1512138600   98.220001   95.849998   98.080002
16    97.175079   98.589996  1512397800   99.169998   97.980003   98.620003
17    97.293365   98.709999  1512484200   99.750000   98.580002   99.199997
18    96.800537   98.209999  1512570600   98.820000   98.169998   98.639999
19    97.165230   98.580002  1512657000   99.120003   97.480003   97.760002
20    97.135666   98.550003  1512743400   99.000000   98.139999   99.000000
21    97.579201   99.000000  1513002600   99.040001   98.239998   98.599998
22    97.943886   99.370003  1513089000   99.660004   98.849998   98.879997
23    96.376709   97.779999  1513175400   99.309998   97.760002   99.120003
24    95.755753   97.150002  1513261800   98.650002   97.150002   98.309998
25    97.106094   98.519997  1513348200   98.839996   97.440002   97.779999
26    98.249443   99.680000  1513607400  100.529999   98.989998   99.190002
27    97.727051   99.150002  1513693800  100.389999   99.120003  100.209999
28    97.096230   98.510002  1513780200   99.940002   98.459999   99.709999
29    97.086372   98.500000  1513866600   99.190002   98.370003   99.050003
..          ...         ...         ...         ...         ...         ...
222  106.107048  106.489998  1538141400  107.870003  106.279999  107.269997
223  107.511978  107.900002  1538400600  108.989998  107.610001  107.809998
224  108.000214  108.389999  1538487000  108.470001  107.309998  108.010002
225  108.059998  108.449997  1538573400  109.400002  108.250000  109.250000
226  107.739998  107.739998  1538659800  108.849998  106.809998  108.250000
227  107.230003  107.230003  1538746200  108.470001  106.720001  108.059998
228  106.989998  106.989998  1539005400  107.230003  105.570000  106.629997
229  106.660004  106.660004  1539091800  106.930000  105.940002  106.300003
230  103.570000  103.570000  1539178200  107.010002  103.519997  106.959999
231  101.580002  101.580002  1539264600  104.339996  101.550003  103.220001
232  103.000000  103.000000  1539351000  104.919998  101.709999  104.309998
233  102.620003  102.620003  1539610200  103.559998  102.209999  102.849998
234  104.269997  104.269997  1539696600  104.470001  102.690002  103.070000
235  104.339996  104.339996  1539783000  105.290001  103.919998  104.330002
236  102.839996  102.839996  1539869400  104.760002  102.290001  104.529999
237  106.730003  106.730003  1539955800  107.550003  104.059998  104.059998
238  104.510002  104.510002  1540215000  106.959999  104.449997  106.610001
239  104.379997  104.379997  1540301400  104.519997  101.839996  102.410004
240  101.839996  101.839996  1540387800  104.949997  101.510002  104.430000
241  103.599998  103.599998  1540474200  104.169998  101.800003  102.480003
242  101.250000  101.250000  1540560600  102.660004  100.139999  102.540001
243  101.190002  101.190002  1540819800  103.250000  100.040001  102.470001
244  102.080002  102.080002  1540906200  102.389999  100.410004  101.599998
245  102.730003  102.730003  1540992600  103.709999  102.550003  103.059998
246  104.040001  104.040001  1541079000  104.269997  103.019997  103.260002
247  103.709999  103.709999  1541165400  105.050003  102.889999  104.930000
248  105.209999  105.209999  1541428200  105.400002  103.800003  104.040001
249  104.980003  104.980003  1541514600  105.660004  104.370003  104.980003
250  107.309998  107.309998  1541601000  107.480003  104.900002  105.730003
251  108.500000  108.500000  1541687400  108.629997  107.029999  107.029999

      volume
0    3949800
1    2714400
2    2708500
3    2843700
4    3236600
5    2586500
6    3261200
7    3456600
8    2917000
9    2159100
10    837300
11   2731300
12   3536400
13   4325500
14   5328300
15   3445200
16   4562400
17   3525600
18   3081300
19   3026100
20   3850300
21   2984100
22   3455500
23   3463900
24   3464600
25   7891800
26   3485400
27   3282600
28   3091000
29   2339500
..       ...
222  3931500
223  3361300
224  2223100
225  2505100
226  2478700
227  2399800
228  2723400
229  2604400
230  4555600
231  6069300
232  4855900
233  2780900
234  3121000
235  3792400
236  4538200
237  5726300
238  5003100
239  4223800
240  4056700
241  3378900
242  5395700
243  4238700
244  3778200
245  4511300
246  2786800
247  4322200
248  2697700
249  2856000
250  3606900
251  2896700

[252 rows x 7 columns]

In [2]:
"""
Get djidf

@author: Dazhuang
"""
import requests
import re
import pandas as pd
 
def retrieve_dji_list():
    try:
        r = requests.get('http://money.cnn.com/data/dow30/')
    except ConnectionError as err:
        print(err) 
    search_pattern = re.compile('class="wsod_symbol">(.*?)<\/a>.*?<span.*?">(.*?)<\/span>.*?\n.*?class="wsod_stream">(.*?)<\/span>')
    dji_list_in_text = re.findall(search_pattern, r.text)
    dji_list = []
    for item in dji_list_in_text:
        dji_list.append([item[0], item[1], float(item[2])])
    return dji_list
 
dji_list = retrieve_dji_list()
djidf = pd.DataFrame(dji_list)
print(djidf)

       0                        1       2
0    MMM                       3M  204.07
1    AXP         American Express  108.50
2   AAPL                    Apple  208.49
3     BA                   Boeing  370.77
4    CAT              Caterpillar  131.39
5    CVX                  Chevron  119.36
6   CSCO                    Cisco   48.44
7     KO                Coca-Cola   49.33
8    DIS                   Disney  116.00
9   DWDP            DowDuPont Inc   59.44
10   XOM              Exxon Mobil   81.71
11    GS            Goldman Sachs  231.65
12    HD               Home Depot  188.00
13   IBM                      IBM  123.38
14  INTC                    Intel   48.99
15   JNJ        Johnson & Johnson  145.30
16   JPM           JPMorgan Chase  112.38
17   MCD               McDonald's  185.48
18   MRK                    Merck   75.48
19  MSFT                Microsoft  111.75
20   NKE                     Nike   77.78
21   PFE                   Pfizer   43.85
22    PG         Procter & Gamble   91.36
23   TRV  Travelers Companies Inc  130.99
24   UTX      United Technologies  131.34
25   UNH             UnitedHealth  276.65
26    VZ                  Verizon   58.27
27     V                     Visa  145.23
28   WMT                 Wal-Mart  104.88
29   WBA                 Walgreen   82.44

In [3]:
cols=['code','name','lasttrade']
djidf.columns=cols
print(djidf)

    code                     name  lasttrade
0    MMM                       3M     204.07
1    AXP         American Express     108.50
2   AAPL                    Apple     208.49
3     BA                   Boeing     370.77
4    CAT              Caterpillar     131.39
5    CVX                  Chevron     119.36
6   CSCO                    Cisco      48.44
7     KO                Coca-Cola      49.33
8    DIS                   Disney     116.00
9   DWDP            DowDuPont Inc      59.44
10   XOM              Exxon Mobil      81.71
11    GS            Goldman Sachs     231.65
12    HD               Home Depot     188.00
13   IBM                      IBM     123.38
14  INTC                    Intel      48.99
15   JNJ        Johnson & Johnson     145.30
16   JPM           JPMorgan Chase     112.38
17   MCD               McDonald's     185.48
18   MRK                    Merck      75.48
19  MSFT                Microsoft     111.75
20   NKE                     Nike      77.78
21   PFE                   Pfizer      43.85
22    PG         Procter & Gamble      91.36
23   TRV  Travelers Companies Inc     130.99
24   UTX      United Technologies     131.34
25   UNH             UnitedHealth     276.65
26    VZ                  Verizon      58.27
27     V                     Visa     145.23
28   WMT                 Wal-Mart     104.88
29   WBA                 Walgreen      82.44

In [7]:
from datetime import date

quotes = retrieve_quotes_historical('AXP')

list1 = []

for i in range(len(quotes)):
    x = date.fromtimestamp(quotes[i]['date'])
    y = date.strftime(x,'%Y-%m-%d')
    list1.append(y)


quotesdf_ori = pd.DataFrame(quotes, index = list1)
quotesdf_m = quotesdf_ori.drop(['adjclose'], axis = 1)
quotesdf = quotesdf_m.drop(['date'], axis = 1)

print(quotesdf)

                 close        high         low        open   volume
2017-11-10   93.519997   94.150002   93.389999   93.790001  2714400
2017-11-13   93.900002   93.980003   92.779999   93.000000  2708500
2017-11-14   93.760002   93.790001   92.940002   93.570000  2843700
2017-11-15   93.260002   93.790001   92.800003   93.269997  3236600
2017-11-16   93.559998   94.040001   93.300003   93.550003  2586500
2017-11-17   93.690002   93.760002   92.919998   93.309998  3261200
2017-11-20   93.949997   94.339996   93.680000   93.919998  3456600
2017-11-21   94.410004   94.650002   94.120003   94.419998  2917000
2017-11-22   93.820000   94.709999   93.480003   94.389999  2159100
2017-11-24   93.480003   94.120003   93.470001   93.970001   837300
2017-11-27   93.470001   94.000000   93.360001   93.570000  2731300
2017-11-28   95.279999   95.279999   93.580002   93.760002  3536400
2017-11-29   96.599998   97.320000   95.599998   95.959999  4325500
2017-11-30   97.709999   98.489998   96.809998   97.019997  5328300
2017-12-01   97.860001   98.220001   95.849998   98.080002  3445200
2017-12-04   98.589996   99.169998   97.980003   98.620003  4562400
2017-12-05   98.709999   99.750000   98.580002   99.199997  3525600
2017-12-06   98.209999   98.820000   98.169998   98.639999  3081300
2017-12-07   98.580002   99.120003   97.480003   97.760002  3026100
2017-12-08   98.550003   99.000000   98.139999   99.000000  3850300
2017-12-11   99.000000   99.040001   98.239998   98.599998  2984100
2017-12-12   99.370003   99.660004   98.849998   98.879997  3455500
2017-12-13   97.779999   99.309998   97.760002   99.120003  3463900
2017-12-14   97.150002   98.650002   97.150002   98.309998  3464600
2017-12-15   98.519997   98.839996   97.440002   97.779999  7891800
2017-12-18   99.680000  100.529999   98.989998   99.190002  3485400
2017-12-19   99.150002  100.389999   99.120003  100.209999  3282600
2017-12-20   98.510002   99.940002   98.459999   99.709999  3091000
2017-12-21   98.500000   99.190002   98.370003   99.050003  2339500
2017-12-22   98.739998   99.040001   98.209999   98.470001  1980300
...                ...         ...         ...         ...      ...
2018-09-28  106.489998  107.870003  106.279999  107.269997  3931500
2018-10-01  107.900002  108.989998  107.610001  107.809998  3361300
2018-10-02  108.389999  108.470001  107.309998  108.010002  2223100
2018-10-03  108.449997  109.400002  108.250000  109.250000  2505100
2018-10-04  107.739998  108.849998  106.809998  108.250000  2478700
2018-10-05  107.230003  108.470001  106.720001  108.059998  2399800
2018-10-08  106.989998  107.230003  105.570000  106.629997  2723400
2018-10-09  106.660004  106.930000  105.940002  106.300003  2604400
2018-10-10  103.570000  107.010002  103.519997  106.959999  4555600
2018-10-11  101.580002  104.339996  101.550003  103.220001  6069300
2018-10-12  103.000000  104.919998  101.709999  104.309998  4855900
2018-10-15  102.620003  103.559998  102.209999  102.849998  2780900
2018-10-16  104.269997  104.470001  102.690002  103.070000  3121000
2018-10-17  104.339996  105.290001  103.919998  104.330002  3792400
2018-10-18  102.839996  104.760002  102.290001  104.529999  4538200
2018-10-19  106.730003  107.550003  104.059998  104.059998  5726300
2018-10-22  104.510002  106.959999  104.449997  106.610001  5003100
2018-10-23  104.379997  104.519997  101.839996  102.410004  4223800
2018-10-24  101.839996  104.949997  101.510002  104.430000  4056700
2018-10-25  103.599998  104.169998  101.800003  102.480003  3378900
2018-10-26  101.250000  102.660004  100.139999  102.540001  5395700
2018-10-29  101.190002  103.250000  100.040001  102.470001  4238700
2018-10-30  102.080002  102.389999  100.410004  101.599998  3778200
2018-10-31  102.730003  103.709999  102.550003  103.059998  4511300
2018-11-01  104.040001  104.269997  103.019997  103.260002  2786800
2018-11-02  103.709999  105.050003  102.889999  104.930000  4322200
2018-11-05  105.209999  105.400002  103.800003  104.040001  2697700
2018-11-06  104.980003  105.660004  104.370003  104.980003  2856000
2018-11-07  107.309998  107.480003  104.900002  105.730003  3606900
2018-11-08  108.500000  108.629997  107.029999  107.029999  2896700

[251 rows x 5 columns]

In [8]:
list(djidf.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [9]:
list(djidf.columns)

['code', 'name', 'lasttrade']

In [11]:
djidf.values

array([['MMM', '3M', 204.07],
       ['AXP', 'American Express', 108.5],
       ['AAPL', 'Apple', 208.49],
       ['BA', 'Boeing', 370.77],
       ['CAT', 'Caterpillar', 131.39],
       ['CVX', 'Chevron', 119.36],
       ['CSCO', 'Cisco', 48.44],
       ['KO', 'Coca-Cola', 49.33],
       ['DIS', 'Disney', 116.0],
       ['DWDP', 'DowDuPont Inc', 59.44],
       ['XOM', 'Exxon Mobil', 81.71],
       ['GS', 'Goldman Sachs', 231.65],
       ['HD', 'Home Depot', 188.0],
       ['IBM', 'IBM', 123.38],
       ['INTC', 'Intel', 48.99],
       ['JNJ', 'Johnson & Johnson', 145.3],
       ['JPM', 'JPMorgan Chase', 112.38],
       ['MCD', "McDonald's", 185.48],
       ['MRK', 'Merck', 75.48],
       ['MSFT', 'Microsoft', 111.75],
       ['NKE', 'Nike', 77.78],
       ['PFE', 'Pfizer', 43.85],
       ['PG', 'Procter & Gamble', 91.36],
       ['TRV', 'Travelers Companies Inc', 130.99],
       ['UTX', 'United Technologies', 131.34],
       ['UNH', 'UnitedHealth', 276.65],
       ['VZ', 'Verizon', 58.27],
       ['V', 'Visa', 145.23],
       ['WMT', 'Wal-Mart', 104.88],
       ['WBA', 'Walgreen', 82.44]], dtype=object)

In [12]:
djidf.describe

<bound method NDFrame.describe of     code                     name  lasttrade
0    MMM                       3M     204.07
1    AXP         American Express     108.50
2   AAPL                    Apple     208.49
3     BA                   Boeing     370.77
4    CAT              Caterpillar     131.39
5    CVX                  Chevron     119.36
6   CSCO                    Cisco      48.44
7     KO                Coca-Cola      49.33
8    DIS                   Disney     116.00
9   DWDP            DowDuPont Inc      59.44
10   XOM              Exxon Mobil      81.71
11    GS            Goldman Sachs     231.65
12    HD               Home Depot     188.00
13   IBM                      IBM     123.38
14  INTC                    Intel      48.99
15   JNJ        Johnson & Johnson     145.30
16   JPM           JPMorgan Chase     112.38
17   MCD               McDonald's     185.48
18   MRK                    Merck      75.48
19  MSFT                Microsoft     111.75
20   NKE                     Nike      77.78
21   PFE                   Pfizer      43.85
22    PG         Procter & Gamble      91.36
23   TRV  Travelers Companies Inc     130.99
24   UTX      United Technologies     131.34
25   UNH             UnitedHealth     276.65
26    VZ                  Verizon      58.27
27     V                     Visa     145.23
28   WMT                 Wal-Mart     104.88
29   WBA                 Walgreen      82.44>

In [13]:
djidf.lasttrade

0     204.07
1     108.50
2     208.49
3     370.77
4     131.39
5     119.36
6      48.44
7      49.33
8     116.00
9      59.44
10     81.71
11    231.65
12    188.00
13    123.38
14     48.99
15    145.30
16    112.38
17    185.48
18     75.48
19    111.75
20     77.78
21     43.85
22     91.36
23    130.99
24    131.34
25    276.65
26     58.27
27    145.23
28    104.88
29     82.44
Name: lasttrade, dtype: float64

In [16]:
quotesdf

                 close        high         low        open   volume
2017-11-10   93.519997   94.150002   93.389999   93.790001  2714400
2017-11-13   93.900002   93.980003   92.779999   93.000000  2708500
2017-11-14   93.760002   93.790001   92.940002   93.570000  2843700
2017-11-15   93.260002   93.790001   92.800003   93.269997  3236600
2017-11-16   93.559998   94.040001   93.300003   93.550003  2586500
2017-11-17   93.690002   93.760002   92.919998   93.309998  3261200
2017-11-20   93.949997   94.339996   93.680000   93.919998  3456600
2017-11-21   94.410004   94.650002   94.120003   94.419998  2917000
2017-11-22   93.820000   94.709999   93.480003   94.389999  2159100
2017-11-24   93.480003   94.120003   93.470001   93.970001   837300
2017-11-27   93.470001   94.000000   93.360001   93.570000  2731300
2017-11-28   95.279999   95.279999   93.580002   93.760002  3536400
2017-11-29   96.599998   97.320000   95.599998   95.959999  4325500
2017-11-30   97.709999   98.489998   96.809998   97.019997  5328300
2017-12-01   97.860001   98.220001   95.849998   98.080002  3445200
2017-12-04   98.589996   99.169998   97.980003   98.620003  4562400
2017-12-05   98.709999   99.750000   98.580002   99.199997  3525600
2017-12-06   98.209999   98.820000   98.169998   98.639999  3081300
2017-12-07   98.580002   99.120003   97.480003   97.760002  3026100
2017-12-08   98.550003   99.000000   98.139999   99.000000  3850300
2017-12-11   99.000000   99.040001   98.239998   98.599998  2984100
2017-12-12   99.370003   99.660004   98.849998   98.879997  3455500
2017-12-13   97.779999   99.309998   97.760002   99.120003  3463900
2017-12-14   97.150002   98.650002   97.150002   98.309998  3464600
2017-12-15   98.519997   98.839996   97.440002   97.779999  7891800
2017-12-18   99.680000  100.529999   98.989998   99.190002  3485400
2017-12-19   99.150002  100.389999   99.120003  100.209999  3282600
2017-12-20   98.510002   99.940002   98.459999   99.709999  3091000
2017-12-21   98.500000   99.190002   98.370003   99.050003  2339500
2017-12-22   98.739998   99.040001   98.209999   98.470001  1980300
...                ...         ...         ...         ...      ...
2018-09-28  106.489998  107.870003  106.279999  107.269997  3931500
2018-10-01  107.900002  108.989998  107.610001  107.809998  3361300
2018-10-02  108.389999  108.470001  107.309998  108.010002  2223100
2018-10-03  108.449997  109.400002  108.250000  109.250000  2505100
2018-10-04  107.739998  108.849998  106.809998  108.250000  2478700
2018-10-05  107.230003  108.470001  106.720001  108.059998  2399800
2018-10-08  106.989998  107.230003  105.570000  106.629997  2723400
2018-10-09  106.660004  106.930000  105.940002  106.300003  2604400
2018-10-10  103.570000  107.010002  103.519997  106.959999  4555600
2018-10-11  101.580002  104.339996  101.550003  103.220001  6069300
2018-10-12  103.000000  104.919998  101.709999  104.309998  4855900
2018-10-15  102.620003  103.559998  102.209999  102.849998  2780900
2018-10-16  104.269997  104.470001  102.690002  103.070000  3121000
2018-10-17  104.339996  105.290001  103.919998  104.330002  3792400
2018-10-18  102.839996  104.760002  102.290001  104.529999  4538200
2018-10-19  106.730003  107.550003  104.059998  104.059998  5726300
2018-10-22  104.510002  106.959999  104.449997  106.610001  5003100
2018-10-23  104.379997  104.519997  101.839996  102.410004  4223800
2018-10-24  101.839996  104.949997  101.510002  104.430000  4056700
2018-10-25  103.599998  104.169998  101.800003  102.480003  3378900
2018-10-26  101.250000  102.660004  100.139999  102.540001  5395700
2018-10-29  101.190002  103.250000  100.040001  102.470001  4238700
2018-10-30  102.080002  102.389999  100.410004  101.599998  3778200
2018-10-31  102.730003  103.709999  102.550003  103.059998  4511300
2018-11-01  104.040001  104.269997  103.019997  103.260002  2786800
2018-11-02  103.709999  105.050003  102.889999  104.930000  4322200
2018-11-05  105.209999  105.400002  103.800003  104.040001  2697700
2018-11-06  104.980003  105.660004  104.370003  104.980003  2856000
2018-11-07  107.309998  107.480003  104.900002  105.730003  3606900
2018-11-08  108.500000  108.629997  107.029999  107.029999  2896700

[251 rows x 5 columns]

In [17]:
quotesdf['2017-12-01':'2017-12-05']

                close       high        low       open   volume
2017-12-01  97.860001  98.220001  95.849998  98.080002  3445200
2017-12-04  98.589996  99.169998  97.980003  98.620003  4562400
2017-12-05  98.709999  99.750000  98.580002  99.199997  3525600

In [18]:
djidf.code

0      MMM
1      AXP
2     AAPL
3       BA
4      CAT
5      CVX
6     CSCO
7       KO
8      DIS
9     DWDP
10     XOM
11      GS
12      HD
13     IBM
14    INTC
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21     PFE
22      PG
23     TRV
24     UTX
25     UNH
26      VZ
27       V
28     WMT
29     WBA
Name: code, dtype: object

In [19]:
djidf['code']

0      MMM
1      AXP
2     AAPL
3       BA
4      CAT
5      CVX
6     CSCO
7       KO
8      DIS
9     DWDP
10     XOM
11      GS
12      HD
13     IBM
14    INTC
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21     PFE
22      PG
23     TRV
24     UTX
25     UNH
26      VZ
27       V
28     WMT
29     WBA
Name: code, dtype: object